apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-user
  labels:
    app: backend-user
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend-user
  template:
    metadata:
      labels:
        app: backend-user
    spec:
      containers:
      - name: backend-user
        image: thimee/udagram-api-user
        ports:
        - containerPort: 8080
        envFrom:
          - secretRef:
              name: postgres-credentials
          - secretRef:
              name: aws-credentials
          - configMapRef:
              name: secret-config
