language: minimal

services: docker

env:
  - DOCKER_COMPOSE_VERSION=1.23.2

before_install:
  - docker -v && docker-compose -v
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
  - curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
  - chmod +x ./kubectl
  - sudo mv ./kubectl /usr/local/bin/kubectl



install:
  - docker-compose -f docker-compose-build.yaml build --parallel
  
after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker images
  - docker tag reverseproxy $DOCKER_USERNAME/reverseproxy
  - docker push $DOCKER_USERNAME/reverseproxy
  - docker tag udagram-api-user $DOCKER_USERNAME/udagram-api-user
  - docker push $DOCKER_USERNAME/udagram-api-user
  - docker tag udagram-api-feed $DOCKER_USERNAME/udagram-api-feed
  - docker push $DOCKER_USERNAME/udagram-api-user
  - docker tag udagram-api-user $DOCKER_USERNAME/udagram-api-user
  - docker push $DOCKER_USERNAME/udagram-api-user