.uploader {
    display: block;
    clear: both;
    margin: 1em;
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: auto;
    padding: 2em;
    border: 1px dashed #554b4b;
    border-radius: 5px;
}
.submit-block{
    text-align: center;
    padding-top: .5em;
}