version: 2.1

jobs:
  lint-app:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
  build-docker:
    machine: true
    steps:
      - checkout
      - run:
          name: Build docker container for each microservices
          command: |
            echo "--------- Installing dependencies-----------"
            sudo curl -LO https://nodejs.org/dist/v18.0.0/node-v18.0.0-linux-x64.tar.xz
            sudo tar -xvf node-v18.0.0-linux-x64.tar.xz
            sudo cp -r node-v18.0.0-linux-x64/{bin,include,lib,share} /usr/
            node --version => v18.0.0
            sudo apt install nodejs
            echo "--------- The images are building ------------"

            
            docker build -t udagram-api-feed ./udagram-api-feed
            docker tag udagram-api-feed lolade1234/udagram-api-feed:v1

            docker build -t udagram-api-user ./udagram-api-user
            docker tag udagram-api-user lolade1234/udagram-api-user:v1

            docker build -t udagram-frontend ./udagram-frontend
            docker tag udagram-frontend lolade1234/udagram-frontend:v1

            docker build -t udagram-reverseproxy ./udagram-reverseproxy
            docker tag udagram-reverseproxy lolade1234/udagram-reverseproxy:v2

            echo "-------- All images succesfully built----------"
            echo " ------- login in to hub--------"

            docker login -u lolade1234 -p $DOCKERPASS
            echo "-------------- Pushing images to dockerhub-------"

            docker push lolade1234/udagram-api-feed:v1
            docker push lolade1234/udagram-api-user:v1
            docker push lolade1234/udagram-frontend:v1
            docker push lolade1234/udagram-reverseproxy:v2
workflows:
  default:
    jobs:
      - lint-app
      - build-docker:
          requires: [lint-app]