apiVersion: v1
kind: Service
metadata:
  labels:
    app: frontend
  name: forntend-svc
  namespace: default
  selfLink: /api/v1/namespaces/default/services/frontend-svc
spec:
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app: frontend
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}
