apiVersion: apps/v1
kind: Deployment
metadata:
  name: udagram-frontend
  namespace: default
  labels:
    app: udagram-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: udagram-frontend
  template:
    metadata:
      labels:
        app: udagram-frontend
    spec:
      containers:
      - name:  udagram-frontend
        image: tuankhoi2206/udagram-frontend:v1
        imagePullPolicy: Always  
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1024Mi"
            cpu: "500m"
      restartPolicy: Always